doctype html
html
  head
    title 📋 Inventory
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/sideBar.css')
  body

    ul(class='sidebar-nav')
              li
                a(href='/inventory') Home
              li
                a(href='/inventory/categories') All categories
              li
                a(href='/inventory/products') All products
                hr
              li
                a(href='/inventory/category/create') Create new category
              li
                a(href='/inventory/product/create') Create new product
    
    div.content
      block content
